.App {
  text-align: center;
}
.check{
  display: none;
}
@media screen and (max-width: 600px) {
  .check{
    display: block;
  }
  .menu{
    background-color: black;
    color: white;
  }
  .sub-menu{
    color: white;
    background-color: black;
  }
  .menu-wrap.burger-menu{
    background-color: black;
    color: white;
  }
  .bm-item.bm-item-selected{
    background-color: black;
    color: white;
  }

}